.page {
  background-color: lightgrey;
  color: #363636;
}

h1 {
  font-size: 2rem;
  color: #363636;
}

h2 {
  font-size: 1.3rem;
  color: #363636;
}

p,
.inputField::placeholder {
  font-size: 1rem;
}

.inputField {
  background-color: white;
  border: #363636 1px solid;
  border-radius: 5px;
}

.card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  width: 80%;
}

.textArea {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}
.textArea textarea {
  min-height: 200px;
}

.inputLabel input,
.textArea textarea,
.inputField.selectField {
  padding: 10px 16px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

button {
  padding: 8px 16px;
}

.check {
  accent-color: #999DA0;
}
