
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

p,
.inputField::placeholder {
  font-size: 1rem;
}

.card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  width: 80%;
}

.textArea {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.inputLabel input,
.textArea textarea,
.inputField.selectField {
  padding: 10px 16px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

button {
  padding: 8px 16px;
}


/* .inputField.selectField {
  margin-top: 8px;
  display: block;
} */


/* .textArea textarea {
  width: 150px;
  width: 100%;
} */
